body {
    font-size: 25px;
  }

#button1{
    font-size: 30px;
    color: white;
    background-color: black;
}

#button2{
    font-size: 30px;
    color: white;
    background-color: black;
}

#button3{
    font-size: 30px;
    color: white;
    background-color: black;
}

