body {
    min-height: 100%;
    position: relative;
    padding-bottom: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  img{
    width: 100;
    height: 100;
  }

  #inventoryItem{
    width: 75px;
    height: 75px;
  }

  #button1 {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  
  #button1 {
    text-decoration: none;
    border: 2px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
  }
  
  #button1:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  #button1:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  #button1:hover:before {
    left: 100%;
  }

  #button2 {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  
  #button2 {
    text-decoration: none;
    border: 2px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
  }
  
  #button2:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  #button2:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  #button2:hover:before {
    left: 100%;
  }


  #button3 {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
  }
  
  #button3 {
    text-decoration: none;
    border: 2px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
  }
  
  #button3:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  #button3:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  #button3:hover:before {
    left: 100%;
  }

  #button1{
    top: 150px;
  }

  #button2{
    top: 150px;
  }

  #button3{
    top: 150px;
  }