.container {
    width: 60%;
    margin: 0 auto;
}



ul {
    font-family: 'Archivo', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222931;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: 'Archivo', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  img{
    outline-offset: 15px;
  }