
html { overflow-y: hidden; }


body {
  margin: 0  ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: none;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#img1 {
  position: absolute;
  left: 1410px;
  top: 2px;
  z-index: -1;
}



img {
  position: absolute;
  left: 1410x;
  top: 2px;
  z-index: -1;
}


\  img {
  position: absolute;
  left: 1410x;
  top: 2px;
  z-index: -1;
}


