.container{
  max-width: 100%;
  margin: auto;
  background-color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 8rem 5rem 4rem 5rem 5rem
}

body {
  background-color: white;
}

.logo{
  background-color: rgb(243, 243, 47);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}