html{
    overflow-x: hidden;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20px 45px 180px 250px 260px 50px
  }


body{
 max-width: 500em;
}


.topnav {
    background-color: rgb(229, 240, 76);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    text-align: center;
    padding: 5em 20em;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav{
    position: relative;
    bottom: 450px;
    left: 920px;
    padding: 0px;
    opacity: 0.5;
  }

  .navbar{
    margin-left: 100px;
    margin-top: 20px;
    grid-column-start: 2.5;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
  }